.newbutton {
    display: inline-block;
    background:goldenrod ;

      font-size:larger;
      font-weight: bold;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        ;

   }
   .example-additional-selection {

    opacity: 0.75;
    font-size: 0.75em;

  }

  .chart-wrapper {

  }

   .mat-form-field {
       width: 78%;
   }

  .example-full-width {
    width: 100%;
  }

  .submitbutton {
       width: 180px;
       height: 50px;
       margin: 0 auto;
       display: block;
       font-size: large;
       font-weight: bold;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .example-margin {
     margin: 8;
     color: black;
     width: 100px;

   }

  .example-result-card .example-label-container.example-label-horizontal {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 16px;
    max-width: 284px;
    font-size: large;
           font-weight: bold;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .example-result-card .example-value-label {
    font-weight: 600;
    font-size: large;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

   .fontclass {
       font-size: xlarge;
       font-weight: bold;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
